.Contact {
  text-align: center;
}

h1 {
  margin: 30px 0 30px 0;
  font-size: 70px;
  color: black;
}

h2 {
  font-size: 40px;
}

.Icon {
  font-size: 50px;
}

.Dark-Section {
  background-color: black;
  padding: 20px 0;
  color: white;
}

.Light-Section {
  padding: 20px 0;
  color: black;
}
