.HomeMainSection .picture-gallery-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
}

.HomeMainSection p {
  background-color: black;
  padding: 20px 10px;
  color: white;
  font-size: 18px;
  line-height: 1.5;
}

.HomeMainSection img {
  border-radius: 4px;
}
