.TechnologiesIcon .technologies-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  grid-row-gap: 30px;
  margin: 60px 100px;
}

.TechnologiesIcon .img-fluid {
  max-width: 100%;
  height: auto;
}

.TechnologiesIcon .icon {
  display: block;
  margin: 0 auto;
  max-width: 50px;
}

.TechnologiesIcon .text {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
  color: #010207;
}
